---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Gee | About Me">
  <div class="pb-8 mt-5">
    <div class="text-xl py-1">GM ✨</div>
    <div class="text-5xl font-bold">My name is Gee</div>
    <div class="text-3xl py-3 font-bold">Front End Web Developer</div>

    <div class="py-8">
      <p class="text-lg">
        Outside of the web development world, I usually spend my time immersed
        in synthetic sounds and digital arts. My entire life has been immersed
        in the digital world, even before I realized my potential as a software
        developer.
      </p>
    </div>

    <div class="py-8">
      <p class="text-lg">
        Let me share with you how it all began and led me to this point...
      </p>
    </div>

    <div class="py-8">
      <h2 class="text-4xl font-bold">The Beginning</h2>
    </div>

    <div class="py-8">
      <p class="text-lg">
        I was just a kid born in the city. Every evening, I put on wired
        headphones, plugged them into my Sony Walkman, wandered the streets, and
        immersed myself in trance music. It was during these moments that I
        allowed my senses to absorb the vibrant energy of the city and its
        people. Occasionally, I would capture candid moments and cityscapes
        through my lens, only to return home and edit them for sheer enjoyment.
      </p>
    </div>

    <div class="py-8">
      <h2 class="text-4xl font-bold">Transition</h2>
    </div>

    <div class="py-8">
      <div class="text-4xl">🚲</div>
    </div>

    <div class="py-8">
      <p class="text-lg">
        As I grew up, I transitioned from relying solely on buses and skytrains
        to riding a bicycle. I was captivated by the sensation of the wind
        breezing through me as I swiftly pedaled forward. It provided a unique
        experience, faster than walking yet slower than driving, just enough for
        me to immerse in my surroundings.
      </p>
    </div>

    <div class="py-8">
      <p class="text-lg">
        Later on, I decided to get a cycling computer, which sparked my
        curiosity and led me down a path of intense research in the field of
        sports science. I became determined to enhance my physical capabilities
        and surpass the limits of my own analyzed biometric data.
      </p>
    </div>

    <div class="py-8">
      <p class="text-lg">
        A couple of years later, I found myself being recruited into numerous
        cycling communities and participating in racing tours across the
        country. Additionally, I had the privilege of working as a staff member
        for prominent cycling brands like Endomondo, Strava, and Rapha.
      </p>
    </div>

    <div class="py-8">
      <div class="text-4xl">📷</div>
    </div>

    <div class="py-8">
      <p class="text-lg">
        After gaining experience from traveling to various places, my passion
        for photography grew stronger. I desired to enhance the fidelity of my
        captures, which led me to purchase my first mirrorless camera.
      </p>
    </div>

    <div class="py-8">
      <p class="text-lg">
        The file data produced by a real camera expanded my capabilities to
        manipulate and process images even further. Once again, I delved deep
        into research within the field of image processing.
      </p>
    </div>

    <div class="py-8">
      <p class="text-lg">
        A couple more years passed, during which I dedicated myself to honing
        both my capturing and post-processing skills. Through diligent practice,
        my work began to gain recognition, ultimately leading me to become a
        freelance photographer.
      </p>
    </div>

    <div class="py-8">
      <h2 class="text-4xl font-bold">Web3</h2>
    </div>

    <div class="py-8">
      <p class="text-lg">
        I initially started my journey in Web3 and later transitioned into Web2
        development. It all began during the bull run market when I actively
        participated in numerous Web3 communities. At first, I focused on
        trading exclusively on centralized exchanges. As time went on, I
        ventured into off-ramp trading on decentralized exchanges and became
        deeply involved in various communities.
      </p>
    </div>

    <div class="py-8">
      <p class="text-lg">
        Utilizing my aesthetic skills, such as color grading, photography,
        typography, and graphic design, I began assisting multiple startup
        teams. I enthusiastically supported numerous start-up teams, driven by
        the passion to see the impact of my work in the digital world. As a
        result, this led to my first contract work as a graphic designer for a
        Web3 project team.
      </p>
    </div>

    <div class="py-8">
      <p class="text-lg">
        After a few months, armed with practical experience gained from
        supporting different teams in various capacities, I established my own
        team. As a product designer and manager, I juggled a multitude of
        responsibilities such as team recruitment, design work, trading,
        community moderation, and more.
      </p>
    </div>

    <div class="py-8">
      <p class="text-lg">
        However, despite my involvement in diverse roles, there was one aspect I
        had yet to fully grasp - web development. Previously, my team and I
        would rely on hiring developers to set up our websites using our assets.
        That's when I started diving into web development research. In no time,
        I became proficient enough to utilize templates and update content
        independently. Subsequently, I began accumulating reusable components,
        both for my own side-projects and for teams affiliated with mine. The
        more I learned, the deeper I immersed myself in web development
        abstraction. Eventually, I delegated my previous responsibilities to
        other team members, allowing me to focus primarily on web development!
      </p>
    </div>

    <div class="py-8">
      <h2 class="text-4xl font-bold">Web2</h2>
    </div>

    <div class="py-8">
      <p class="text-lg">
        Once the crypto bull run came to an end, I made a conscious decision to
        dedicate myself to full-time web development learning from the comfort
        of my bedroom. I immersed myself in a vast array of online resources,
        ranging from tutorial videos on platforms like YouTube, online courses,
        insightful blogs, and even the ever-reliable Stack Overflow. It's safe
        to say that I explored a wide range of sources, absorbing knowledge from
        each of them.
      </p>
    </div>

    <div class="py-8">
      <p class="text-lg">
        During this period, I began exploring frameworks such as React.JS, while
        also familiarizing myself with the terminal and command line interface.
        My focus primarily revolved around my studying routines, as I dedicated
        countless hours to acquiring new skills and expanding my understanding
        of web development.
      </p>
    </div>

    <div class="py-8">
      <h2 class="text-4xl font-bold">Full-Time Web Development</h2>
    </div>

    <div class="py-8">
      <h3 class="text-4xl">Full Stack Academy</h3>
    </div>

    <div class="py-8">
      <p class="text-lg">
        I felt the need for a more structured and comprehensive learning
        experience. Therefore, I made the decision to enroll in the Full Stack
        Web Development program at the University of Illinois - Chicago. This
        intensive 12-week program provided me with a full-time immersive
        environment to enhance my web development skills.
      </p>
    </div>

    <div class="py-8">
      <p class="text-lg">
        During the program, I confronted the aspects and tools that I had
        previously avoided, realizing that they were indispensable to my growth.
        Furthermore, the areas where I already possessed strength underwent
        further refinement at a fundamental level. The boot camp provided
        invaluable guidance on how modern web applications should be designed
        and developed.
      </p>
    </div>

    <div class="py-8">
      <p class="text-lg">
        While the journey was challenging, I approached it with unwavering
        determination and a clear vision of success. Looking back at the end of
        the program, I was astounded by my own capability to absorb a vast
        amount of knowledge and swiftly apply it in a condensed and intense
        timeframe.
      </p>
    </div>

    <div class="py-8">
      <h3 class="text-4xl">Freelancing</h3>
    </div>

    <div class="py-8">
      <p class="text-lg">
        Following my graduation, I took a small break to digest all the
        information. During this time, I actively sought opportunities to
        implement my skills in real-world applications. I began taking on
        freelance projects from both local and online communities, where my
        tasks involved creating landing pages and websites. This freelance work
        provided me with invaluable experience and allowed me to continuously
        explore and experiment with new frameworks and tools.
      </p>
    </div>

    <div class="py-8">
      <p class="text-lg">By the way, I love Svelte and Astro : )</p>
    </div>

    <div class="py-8">
      <h3 class="text-4xl font-bold">What Now?</h3>
    </div>

    <div class="py-8">
      <p class="text-lg">That brings us to today.</p>
    </div>
    <div class="py-8">
      <p class="text-lg">
        While I'm still working as a freelance developer and continuously
        implementing new cutting-edge frameworks and tools, I have reached a
        point where I feel the need to transition into a more formal working
        environment that can provide me with greater opportunities and hands-on
        experience in full-scale projects and product collaborations.
      </p>
    </div>
    <div class="py-8">
      <p class="text-lg">
        I am actively seeking a full-time development role that aligns with my
        passion and allows me to leverage my diverse skill set. Throughout my
        journey as a developer, I have always had a strong inclination towards
        learning new technologies and adapting to different working
        environments, whether it was in the field of photography, color
        processing, blockchain, or exploring new meta-frameworks like Astro
        (which you're currently experiencing on this website!).
      </p>
    </div>
    <div class="py-8">
      <p class="text-lg">
        The ability to adapt and learn quickly has consistently been one of my
        strongest traits, and I am eager to apply these skills to my next
        adventure. I am excited to join a team where I can contribute my
        expertise, collaborate on challenging projects, and continue to expand
        my knowledge in the ever-evolving world of web development.
      </p>
    </div>
  </div>
</BaseLayout>
