---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Gee | About Me">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">GM ✨</div>
    <div class="text-5xl font-bold">My name is Gee</div>
    <div class="text-3xl py-3 font-bold">Front End Web Developer</div>
    <div class="py-2">
      <text class="text-lg">
        My proudest achievement is to be able to maximize and utilize an era of
        open information accessibility.
      </text>
    </div>
  </div>
</BaseLayout>
