---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Gee | About Me">
  <div class="pb-8 mt-5">
    <div class="text-xl py-1">GM ✨</div>
    <div class="text-5xl font-bold">My name is Gee</div>
    <div class="text-3xl py-3 font-bold">Front End Web Developer</div>
    <div class="py-8">
      <text class="text-lg">
        Outside of the web development world, I usually spend my time immersed
        in synthetic sounds and digital arts. My entire life has been immersed
        in the digital world, even before I realized my potential as a software
        developer.
      </text>
    </div>

    <div class="py-8">
      <text class="text-lg">
        Let me share you how it all began and led me to this point...
      </text>
    </div>

    <div class="py-8">
      <text class="text-4xl font-bold"> The Beginning</text>
    </div>

    <div class="py-8">
      <text class="text-lg">
        I was just a kid born in the city. Every evening, I put a wired
        headphones on, plug them into my Sony Walkman, wander the streets, and
        immersing myself in trance music. It was during these moments that I
        allowed my senses to absorb the vibrant energy of the city and people.
        Occasionally, I would capture candid moments and cityscapes through my
        lens, only to return home and edit them for sheer enjoyment.
      </text>
    </div>
  </div>
</BaseLayout>
