---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Gee | About Me">
  <div class="pb-8 mt-5">
    <div class="text-xl py-1">GM ✨</div>
    <div class="text-5xl font-bold">My name is Gee</div>
    <div class="text-3xl py-3 font-bold">Front End Web Developer</div>
    <div class="py-8">
      <text class="text-lg">
        Outside of the web development world, I usually spend my time immersed
        in synthetic sounds and digital arts. My entire life has been immersed
        in the digital world, even before I realized my potential as a software
        developer.
      </text>
    </div>

    <div class="py-8">
      <text class="text-lg">
        Let me share you how it all began and led me to this point...
      </text>
    </div>
  </div>
</BaseLayout>
