---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Gee | About Me">
  <div class="pb-8 mt-5">
    <div class="text-xl py-1">GM ✨</div>
    <div class="text-5xl font-bold">My name is Gee</div>
    <div class="text-3xl py-3 font-bold">Front End Web Developer</div>
    <div class="py-8">
      <text class="text-lg">
        Outside of the web development world, I usually spend my time immersed
        in synthetic sounds and digital arts. My entire life has been immersed
        in the digital world, even before I realized my potential as a software
        developer.
      </text>
    </div>

    <div class="py-8">
      <text class="text-lg">
        Let me share you how it all began and led me to this point...
      </text>
    </div>

    <div class="py-8">
      <text class="text-4xl font-bold"> The Beginning</text>
    </div>

    <div class="py-8">
      <text class="text-lg">
        I was just a kid born in the city. Every evening, I put a wired
        headphones on, plug them into my Sony Walkman, wander the streets, and
        immersing myself in trance music. It was during these moments that I
        allowed my senses to absorb the vibrant energy of the city and people.
        Occasionally, I would capture candid moments and cityscapes through my
        lens, only to return home and edit them for sheer enjoyment.
      </text>
    </div>

    <div class="py-8">
      <text class="text-4xl font-bold">Transition</text>
    </div>

    <div class="py-8">
      <div class="text-4xl">🚲</div>
    </div>

    <div class="py-8">
      <div class="pb-8">
        <text class="text-lg">
          As I grew up, I transitioned from relying solely on buses and
          skytrains to riding a bicycle. I was captivated by the sensation of
          the wind breezing through me as I swiftly pedaled forward. It provided
          a unique experience, faster than walking yet slower than driving, just
          enough for me to immerse in my surroundings.
        </text>
      </div>

      <div class="py-8">
        <text class="text-lg">
          Later on, I decided to get a cycling computer, which sparked my
          curiosity and led me down a path of intense research in the field of
          sports science. I became determined to enhance my physical
          capabilities and surpass the limits of my own analyzed biometric data.
        </text>
      </div>

      <div class="py-8">
        <text class="text-lg">
          A couple of years later, I found myself being recruited into numerous
          cycling communities and participating in racing tours across the
          country. Additionally, I had the privilege of working as a staff
          member for prominent cycling brands like Endomondo, Strava, and Rapha.
        </text>
      </div>

      <div class="py-8">
        <div class="text-4xl">📷</div>
      </div>

      <div class="pb-8">
        <text class="text-lg">
          After gaining experience from traveling to various places, my passion
          for photography grew stronger. I desired to enhance the fidelity of my
          captures, which led me to purchase my first mirrorless camera.
        </text>
      </div>

      <div class="pb-8">
        <text class="text-lg">
          The file data produced by a real camera censors extended my
          capabilities to manipulate and process images even further. Once
          again, I dove deep into the research within the field of image
          processing.
        </text>
      </div>

      <div class="pb-8">
        <text class="text-lg">
          A couple more years forwarded, during which I dedicated myself to
          honing both my capturing and post-processing skills. Through
          diligently practice, my work began to gain recognition, ultimately
          leading me to become a freelance photographer.
        </text>
      </div>
    </div>

    <div class="py-8">
      <text class="text-4xl font-bold">Web3</text>
    </div>

    <div class="py-8">
      <text class="text-lg">
        I initially started my journey in Web3 and later transitioned into Web2
        development. It all began during the bull run market when I actively
        participated in numerous Web3 communities. At first, I focused on
        trading exclusively on centralized exchanges. As time went on, I
        ventured into off-ramp trading on decentralized exchanges and became
        deeply involved in various communities.
      </text>
    </div>

    <div class="py-8">
      <text class="text-lg">
        Utilizing my aesthetic skills, such as color grading, photography,
        typography, and graphic design, I began assisting multiple startup
        teams. I enthusiastically supported numerous start-up teams, driven by
        the passion to see the impact of my works in the digital world. As a
        result, this led to my first contract work as a graphic designer for a
        Web3 project team.
      </text>
    </div>

    <div class="py-8">
      <text class="text-lg">
        After a few months, armed with practical experience gained from
        supporting different teams in various capacities, I established my own
        team. As a product designer and manager, I juggled a multitude of
        responsibilities such as team recruitment, design work, trading,
        community moderation, and more.
      </text>
    </div>

    <div class="py-8">
      <text class="text-lg">
        However, despite my involvement in diverse roles, there was one aspect I
        had yet to fully grasp - web development. Previously, my team and I
        would rely on hiring developers to set up our websites using our assets.
        That's when I started diving into web development research. In no time,
        I became proficient enough to utilize templates and update content
        independently. Subsequently, I began accumulating reusable components,
        both for my own side-projects and for teams affiliated with mine. The
        more I learned, the deeper I immersed myself in web development
        abstraction. Eventually, I delegated my previous responsibilities to
        other team members, allowing me to focus primarily on web development!
      </text>
    </div>
  </div>
</BaseLayout>
