---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Gee | Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    An innovative front-end developer with a diverse skill set and a deep
    passion for technological advancement. Demonstrated success in previous
    careers as a professional cyclist, freelance photographer, color grader, and
    video editor. Known for exceptional organizational skills, self-driven
    approach to learning, and a commitment to delivering captivating user
    experiences. Proficient in utilizing a wide range of frameworks and
    libraries, including SvelteKit, Astro, and TailwindCSS. Actively
    experimenting in cutting-edge tools such as Warp Terminal and Arc browser
    for enhanced development efficiency. Eager to contribute expertise to
    various high-impact digital projects.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Front-End Web Developer"
      subtitle="Freelance"
      date="Feb 2023 - Present"
    >
      <li>
        Delivered captivating user experiences. using cutting-edge JavaScript
        frameworks, such as Svelte and Astro.
      </li>
      <li>
        Implemented DevOps methodology to streamline development processes,
        consistently exceeding project delivery timelines.
      </li>
      <li>
        Authored and overhauled technical documents, enhancing content
        management practices for improved efficiency and accessibility.
      </li>
      <li>
        Employed serverless architecture, server-side rendering, and edge
        network, expanding the reach from local to a global audience.
      </li>
      <li>
        Refactored the codebase to achieve exceptional site performance,
        cross-browser compatibility, and SEO, resulting in an outstanding
        Lighthouse score.
      </li>
    </TimeLineElement>

    <TimeLineElement
      title="Front-End Web Developer"
      subtitle="Contract"
      date="Apr 2021 - Jan 2022"
    >
      <li>
        Accelerated development by leveraging reusable components, contributing
        to the successful second seeding round of the project.
      </li>
      <li>
        Enhanced organic traffic to the community by implementing seamless
        routing to external sources, resulting in a doubled increase.
      </li>
      <li>
        Successfully delivered project sites with optimal functionality,
        effectively reaching a new intended target audience.
      </li>
    </TimeLineElement>

    <TimeLineElement
      title="Product Designer & Product Manager"
      subtitle="Contract"
      date="Mar 2021 - Aug 2021"
    >
      <li>
        Transformed organization from solo operation to a 10-person team through
        successful recruitment oversight.
      </li>
      <li>
        Leveraged UI/UX skills to cultivate brand identity and enhance user
        experiences, rapidly growing community to 600 members in a week.
      </li>
      <li>Assign tasks and coordinate efforts for timely project delivery.</li>
      <li>
        Coordinated tasks and increased revenue by 400% in the first week during
        the bull market.
      </li>
    </TimeLineElement>

    <TimeLineElement
      title="Graphic Designer"
      subtitle="Freelance"
      date="Jan 2021 - Mar 2021"
    >
      <li>
        Developed compelling brand names and logos for strong visual identities,
        resulting in the success of multiple start-up projects.
      </li>
      <li>
        Produced captivating banner images utilizing the Adobe Creative Suite,
        capturing target audiences in a wide range.
      </li>
      <li>
        Utilized design principles, color theory, and typography expertise to
        foster strong brand recognition and identity.
      </li>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="University of Illinois Chicago"
      subtitle="Full-Stack Web Development Certification, Computer Software Engineering"
      date="Aug 2022 - Oct 2022"
      desc="A Full-time, immersive, web development program that focuses on implementing a practical skills set for dynamic collaborative environments in a tech field, centered on JavaScript, PERN stack, and git version control."
    />
    <TimeLineElement
      title="Alchemy University"
      subtitle="Ethereum Developer Certification, Web3 Development"
      date="Nov 2022"
      desc="The comprehensive Ethereum Developer Bootcamp that aims to provide the fundamentals of Web3 development such as cryptography, smart contracts, solidity, fully functional dApp development, and more.."
    />
    <TimeLineElement
      title="Parkland College"
      subtitle="Associate of Arts, Design and Applied Arts"
      date="Jan 2020 - Dec 2021"
    />
    <TimeLineElement
      title="Eastern Florida State College"
      subtitle="Associate's degree, General Studies"
      date="Jan 2019 - Dec 2019"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Cardano Blockchain Certified Associate (CBCA)"
      subtitle="Cardano Foundation"
      date="Issued Jun 2023"
    >
      <p class="my-2 text-justify mb-5">
        An in-depth course covering blockchain fundamentals, consensus
        algorithms, cryptography, encryptions, hash functions, digital
        signatures, and Cardano. Explore topics such as decentralized finance
        (DeFi), smart contracts, Web 3.0, and more.
      </p>
      <a
        href="https://education.cardano.org/certificate_v2/64821e3c9f1938efcf06fba3/user/648c7a5dd04d5168950d946d"
        target="_blank"
      >
        <img
          src="https://media.licdn.com/dms/image/D5622AQEKuIHrnESU9Q/feedshare-shrink_1280/0/1687102109071?e=1689811200&v=beta&t=nhhEMoWrNlaFzCHAMT8WK0AOZv76FbFQNsUYIqCCXLM"
        />
      </a>
    </TimeLineElement>

    <TimeLineElement
      title="BLOC529: Decentralized Finance"
      subtitle="University of Nicosia"
      date="Issued Sep 2022"
    >
      <p class="my-2 text-justify mb-5">
        A remote class that provides the field of decentralized finance (DeFi)
        and its main components, including decentralized exchanges (DEXs),
        automated market making (AMM), liquidity mining, yield farming,
        stable-coins, blockchain derivatives, DeFi protocol governance, and
        others.
      </p>
      <a
        href="https://opensea.io/assets/ethereum/0x05283b957cd69383429113e9ba41c95bafde3ec1/37"
        target="_blank"
      >
        <img
          src="https://i.seadn.io/gae/yHYtZVMRzVj903-M1GLet2BJiklFeOTXL54kcSFn1a38pGGZ5G-BlHIMlmGO20kn3_lgBA-TgRzE7YuD7Rsp6FR-JCJ7m6UFEPHk5g?auto=format&dpr=1&w=3840"
        />
      </a>
    </TimeLineElement>
  </div>
</BaseLayout>

<div class="mb-5">
  <div class="text-3xl w-full font-bold">Skills</div>
</div>

<div class="mb-3">
  <div class="text-xl w-full font-semibold">
    Languages • Libraries • Frameworks • Bundlers
  </div>
</div>

<div class="mb-6">
  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>HTML</li>
    <li>CSS</li>
    <li>SCSS</li>
    <li>TailwindCSS</li>
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>React</li>
    <li>Svelte</li>
    <li>Astro</li>
    <li>Markdown</li>
    <li>Webpack</li>
    <li>Vite</li>
    <li>Node.JS</li>
    <li>Express.JS</li>
    <li>PostgreSQL</li>
    <li>JSON</li>
    <li>Bash</li>
  </ul>
</div>

<div class="mb-3">
  <div class="text-xl w-full font-semibold">Emulators • Shell • Extensions</div>
</div>

<div class="mb-6">
  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Git</li>
    <li>Homebrew</li>
    <li>Warp</li>
    <li>ZSH Terminal</li>
    <li>NPM</li>
    <li>Starship</li>
    <li>Rectangle</li>
    <li>Maccy</li>
  </ul>
</div>

<div class="mb-3">
  <div class="text-xl w-full font-semibold">Additional</div>
</div>

<div>
  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Figma</li>
    <li>Canva</li>
    <li>Obsidian</li>
    <li>Notion</li>
    <li>Logic Pro X</li>
    <li>Final Cut Pro X</li>
    <li>Adobe Lightroom</li>
    <li>DaVinci Resolve</li>
    <li>Autodesk Sketchbook</li>
  </ul>
</div>
