---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Gee | Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    An innovative front-end developer with a diverse skill set and a deep
    passion for technological advancement. Demonstrated success in previous
    careers as a professional cyclist, freelance photographer, color grader, and
    video editor. Currently engaged as a residential DJ, specializing in live
    mixing and music production. Known for exceptional organizational skills,
    self-driven approach to learning, and a commitment to delivering captivating
    user experiences. Proficient in utilizing a wide range of frameworks and
    libraries, including SvelteKit, Astro, and TailwindCSS. Actively
    experimenting in cutting-edge tools such as Warp Terminal and Arc browser
    for enhanced development efficiency. Eager to contribute expertise to
    various high-impact digital projects.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="University of Illinois Chicago"
      subtitle="Full-Stack Web Development Certification, Computer Software Engineering"
      date="Aug 2022 - Oct 2022"
      desc="A Full-time, immersive, web development program that focuses on implementing a practical skills set for dynamic collaborative environments in a tech field, centered on JavaScript, PERN stack, and git version control."
    />
    <TimeLineElement
      title="Alchemy University"
      subtitle="Ethereum Developer Certification, Web3 Development"
      date="Nov 2022"
      desc="The comprehensive Ethereum Developer Bootcamp that aims to provide the fundamentals of Web3 development such as cryptography, smart contracts, solidity, fully functional dApp development, and more.."
    />
    <TimeLineElement
      title="Parkland College"
      subtitle="Associate of Arts, Design and Applied Arts"
      date="Jan 2020 - Dec 2021"
    />
    <TimeLineElement
      title="Eastern Florida State College"
      subtitle="Associate's degree, General Studies"
      date="Jan 2019 - Dec 2019"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certification</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <div class="experience__data bd-grid px-5">
        <h3 class="font-semibold mb-1">BLOC529: Decentralized Finance</h3>
        <h6 class="font-normal mb-1">University of Nicosia</h6>
        <span class="font-light text-sm">Issued Sep 2022</span>
        <p class="my-2 text-justify mb-5">
          A remote class that provides the field of decentralized finance (DeFi)
          and its main components, including decentralized exchanges (DEXs),
          automated market making (AMM), liquidity mining, yield farming,
          stablecoins, blockchain derivatives, DeFi protocol governance and
          others.
        </p>
        <a
          href="https://opensea.io/assets/ethereum/0x05283b957cd69383429113e9ba41c95bafde3ec1/37"
          target="_blank"
        >
          <img
            src="https://i.seadn.io/gae/yHYtZVMRzVj903-M1GLet2BJiklFeOTXL54kcSFn1a38pGGZ5G-BlHIMlmGO20kn3_lgBA-TgRzE7YuD7Rsp6FR-JCJ7m6UFEPHk5g?auto=format&dpr=1&w=3840"
          />
        </a>
      </div>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <div class="mb-3">
    <div class="text-xl w-full font-semibold">
      Languages • Libraries • Frameworks • Bundlers
    </div>
  </div>

  <div class="mb-6">
    <ul class="list-disc md:columns-5 columns-2 mx-6">
      <li>HTML</li>
      <li>CSS</li>
      <li>SCSS</li>
      <li>TailwindCSS</li>
      <li>JavaScript</li>
      <li>TypeScript</li>
      <li>React</li>
      <li>Svelte</li>
      <li>Astro</li>
      <li>Markdown</li>
      <li>Webpack</li>
      <li>Vite</li>
      <li>Node.JS</li>
      <li>Express.JS</li>
      <li>PostgreSQL</li>
      <li>JSON</li>
      <li>Bash</li>
    </ul>
  </div>

  <div class="mb-3">
    <div class="text-xl w-full font-semibold">
      Emulators • Shell • Extensions
    </div>
  </div>

  <div class="mb-6">
    <ul class="list-disc md:columns-5 columns-2 mx-6">
      <li>Git</li>
      <li>Homebrew</li>
      <li>Warp</li>
      <li>ZSH Terminal</li>
      <li>NPM</li>
      <li>Starship</li>
      <li>Rectangle</li>
      <li>Maccy</li>
    </ul>
  </div>

  <div class="mb-3">
    <div class="text-xl w-full font-semibold">Additional</div>
  </div>

  <div>
    <ul class="list-disc md:columns-5 columns-2 mx-6">
      <li>Figma</li>
      <li>Canva</li>
      <li>Obsidian</li>
      <li>Notion</li>
      <li>Logic Pro X</li>
      <li>Final Cut Pro X</li>
      <li>Adobe Lightroom</li>
      <li>DaVinci Resolve</li>
      <li>Autodesk Sketchbook</li>
    </ul>
  </div>
</BaseLayout>
