---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Gee | Playground">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Playground</div>
  </div>
  <div class="divider my-0"></div>

  <div class="text-2xl py-3 font-bold">My Latest Set</div>
  <!-- Mobile Version -->
  <iframe
    class="sm:hidden track"
    width="100%"
    height="385"
    allow="autoplay"
    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1954269443&color=%234f4848&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
  ></iframe>

  <!-- Non-Mobile Version -->
  <iframe
    class="sm:inline hidden track"
    width="100%"
    height="450"
    allow="autoplay"
    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1954269443&color=%234f4848&auto_play=false&hide_related=true&show_comments=true&show_user=true&show_reposts=true&show_teaser=true&visual=true"
  ></iframe>

  <div class="divider"></div>

  <iframe
    title="My LiQuid Dreams VOLUME 3 Set"
    class="track"
    width="100%"
    height="480"
    src="https://www.youtube.com/embed/FgwCwAfkBQ4?si=pj-gdQAAFpiAga4m&start=488"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>

  <div class="divider my-0"></div>

  <div class="text-2xl py-3 font-bold">Weekly Favorite Set</div>
  <iframe
    title="Weekly Favorite Set"
    class="track"
    width="100%"
    height="480"
    src="https://www.youtube.com/embed/bG5a06j-PW8?si=xkod3W5SrsW0EZZU&start=4305"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>

  <div class="divider my-0"></div>

  <div class="text-2xl py-3 font-bold">Weekly Favorite Tracks</div>
  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/10UKDSTT5GrZIYEj3O8x3k?si=4d05d14a87e342f6?utm_source=generator"
    width="100%"
    height="352"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="eager"></iframe>

  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/5pINI4tGY5ApJLfQhcfOZ3?si=fd57c443ba7a4992?utm_source=generator&theme=0"
    width="100%"
    height="152"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="eager"></iframe>

  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/0dHgbddu0BAYeonxtHvWVU?si=8706a4cbaa3a4346?utm_source=generator&theme=0"
    width="100%"
    height="152"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="eager"></iframe>

  <div class="divider my-0"></div>

  <div class="text-2xl py-3 font-bold">Hypnotic Techno</div>
  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/7wQ09J1RMWrs9dqTAFxL3F?utm_source=generator"
    width="100%"
    height="352"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/1sySOJmLRBIqxf3tItL51a?utm_source=generator&theme=0"
    width="100%"
    height="152"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/3qWJoilrZKuMhcxqPKJpLf?utm_source=generator&theme=0"
    width="100%"
    height="152"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <div class="divider my-0"></div>

  <div class="text-2xl py-3 font-bold">Raw Techno</div>
  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/1puSvvVILD1ob1u8u7QUc4?utm_source=generator"
    width="100%"
    height="352"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/0hGej6MML21mA3T6EuaUgS?utm_source=generator&theme=0"
    width="100%"
    height="152"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/7GMUfSHFaqyxxCsTyxnz09?utm_source=generator&theme=0"
    width="100%"
    height="152"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <div class="divider my-0"></div>

  <div class="text-2xl py-3 font-bold">Dub Techno</div>
  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/0u5nuOLkr327RzPSdiN1j8?utm_source=generator"
    width="100%"
    height="352"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/53eXX1r7VqppC66azB4SZ0?utm_source=generator&theme=0"
    width="100%"
    height="152"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/73F9EWwe4EpwJ6rkx4X8NR?utm_source=generator&theme=0"
    width="100%"
    height="152"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <div class="divider my-0"></div>

  <div class="text-2xl py-3 font-bold">Acid Techno</div>
  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/59YHEseXh1cPIHqSVaVXR2?utm_source=generator"
    width="100%"
    height="352"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/5j04ir6W04ov4tOV1aHjx2?utm_source=generator&theme=0"
    width="100%"
    height="152"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/3BiEL2MiPGsw6imQiNAHUZ?utm_source=generator&theme=0"
    width="100%"
    height="152"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <div class="divider my-0"></div>

  <div class="text-2xl py-3 font-bold">Psy Trance</div>
  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/1dGGWQStLoXKQYMYENx5Yc?utm_source=generator"
    width="100%"
    height="352"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/6LPQmTty2Vnr2Im63pvmMd?utm_source=generator&theme=0"
    width="100%"
    height="152"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/2s5SBimln2F5QvEtG0RFSF?utm_source=generator&theme=0"
    width="100%"
    height="152"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <div class="divider my-0"></div>

  <div class="wrapper-recently-played">
    <iframe
      id="recently-played"
      style="border-radius:12px"
      src="https://spotify-recently-played-readme.vercel.app/api?user=22dcwglm3hf3ocwavusfjj6fi&unique=1&width=850"
      width="100%"
      height="100%"
      title="Recently Played"></iframe>
  </div>
</BaseLayout>

<style lang="scss">
  @use "@unsass/breakpoint";

  .track {
    margin-bottom: 2%;
  }
  .wrapper-recently-played {
    position: relative;
    margin-top: 2%;
    @include breakpoint.up("xl") {
      width: 53.5em;
      height: 21em;
      margin-bottom: 15%;
    }
    @include breakpoint.down("xl") {
      width: 41em;
      height: 16.1em;
      margin-bottom: 34%;
    }
    @include breakpoint.down("lg") {
      width: 40em;
      height: 15.7em;
      margin-bottom: 0;
    }
    @include breakpoint.down("md") {
      width: 32em;
      height: 12.65rem;
      margin-bottom: 40%;
    }
    @include breakpoint.down("sm") {
      width: 21.5em;
      height: 8.67rem;
      margin-bottom: 0;
    }
  }
</style>
