---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Playground">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Playground</div>
  </div>
  <div class="divider my-0"></div>

  <iframe
    src="https://spotify-recently-played-readme.vercel.app/api?user=22dcwglm3hf3ocwavusfjj6fi&width=850"
    width="850"
    height="400"
    title="Recently Played"></iframe>
</BaseLayout>
