---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Gee | Playground">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Playground</div>
  </div>
  <div class="divider my-0"></div>

  <div class="text-2xl py-3 font-bold">My Latest Set</div>
  <!-- Mobile Version -->
  <iframe
    class="sm:hidden track"
    width="100%"
    height="385"
    allow="autoplay"
    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1916977796&color=%23dcff88&auto_play=false&hide_related=true&show_comments=true&show_user=true&show_reposts=true&show_teaser=true&visual=true"
  ></iframe>

  <!-- Non-Mobile Version -->
  <iframe
    class="sm:inline hidden track"
    width="100%"
    height="450"
    allow="autoplay"
    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1916977796&color=%23dcff88&auto_play=false&hide_related=true&show_comments=true&show_user=true&show_reposts=true&show_teaser=true&visual=true"
  ></iframe>

  <div class="divider my-0"></div>

  <div class="text-2xl py-3 font-bold">Weekly Favorite Set</div>
  <iframe
    title="Weekly Favorite Set"
    class="track"
    width="100%"
    height="480"
    src="https://www.youtube.com/embed/bG5a06j-PW8?si=xkod3W5SrsW0EZZU&start=4305"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>

  <div class="divider my-0"></div>

  <div class="text-2xl py-3 font-bold">Weekly Favorite Tracks</div>
  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/70sNsU9Ymza5ksTu76iaGI?utm_source=generator"
    width="100%"
    height="352"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="eager"></iframe>

  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/4283lKA0GlKqgWzeKiF2WU?utm_source=generator&theme=0"
    width="100%"
    height="152"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="eager"></iframe>

  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/4n9QPTHWCEHxHwjKvofIDS?utm_source=generator&theme=0"
    width="100%"
    height="152"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="eager"></iframe>

  <div class="divider my-0"></div>

  <div class="text-2xl py-3 font-bold">Hypnotic Techno</div>
  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/0EHxLwcvEQyAe5iYgdwaaL?utm_source=generator"
    width="100%"
    height="352"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/1R6V0zFxKfdEHbmGSnuTEq?utm_source=generator&theme=0"
    width="100%"
    height="152"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/6qvkORVpgNUM7jhwGbzPEe?utm_source=generator&theme=0"
    width="100%"
    height="152"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <div class="divider my-0"></div>

  <div class="text-2xl py-3 font-bold">Raw Techno</div>
  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/1NKiactcA2mRYuN5y8pDMR?utm_source=generator"
    width="100%"
    height="352"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/5LdxB9xrMesQUjgVSH0fhv?utm_source=generator&theme=0"
    width="100%"
    height="152"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/2sqEzxXwrImUet5ZETVpFa?utm_source=generator&theme=0"
    width="100%"
    height="152"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <div class="divider my-0"></div>

  <div class="text-2xl py-3 font-bold">Dub Techno</div>
  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/0wwqyEAXDdztd4CvLpTpAo?utm_source=generator"
    width="100%"
    height="352"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/7y3jO5cjSPG0XUIvOX1TH6?utm_source=generator&theme=0"
    width="100%"
    height="152"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/73F9EWwe4EpwJ6rkx4X8NR?utm_source=generator&theme=0"
    width="100%"
    height="152"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <div class="divider my-0"></div>

  <div class="text-2xl py-3 font-bold">Acid Techno</div>
  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/59YHEseXh1cPIHqSVaVXR2?utm_source=generator"
    width="100%"
    height="352"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/5j04ir6W04ov4tOV1aHjx2?utm_source=generator&theme=0"
    width="100%"
    height="152"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/3BiEL2MiPGsw6imQiNAHUZ?utm_source=generator&theme=0"
    width="100%"
    height="152"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <div class="divider my-0"></div>

  <div class="text-2xl py-3 font-bold">Psy Trance</div>
  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/1dGGWQStLoXKQYMYENx5Yc?utm_source=generator"
    width="100%"
    height="352"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/6LPQmTty2Vnr2Im63pvmMd?utm_source=generator&theme=0"
    width="100%"
    height="152"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/2s5SBimln2F5QvEtG0RFSF?utm_source=generator&theme=0"
    width="100%"
    height="152"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <div class="divider my-0"></div>

  <div class="wrapper-recently-played">
    <iframe
      id="recently-played"
      style="border-radius:12px"
      src="https://spotify-recently-played-readme.vercel.app/api?user=22dcwglm3hf3ocwavusfjj6fi&unique=1&width=850"
      width="100%"
      height="100%"
      title="Recently Played"></iframe>
  </div>
</BaseLayout>

<style lang="scss">
  @use "@unsass/breakpoint";

  .track {
    margin-bottom: 2%;
  }
  .wrapper-recently-played {
    position: relative;
    margin-top: 2%;
    @include breakpoint.up("xl") {
      width: 53.5em;
      height: 21em;
      margin-bottom: 15%;
    }
    @include breakpoint.down("xl") {
      width: 41em;
      height: 16.1em;
      margin-bottom: 34%;
    }
    @include breakpoint.down("lg") {
      width: 40em;
      height: 15.7em;
      margin-bottom: 0;
    }
    @include breakpoint.down("md") {
      width: 32em;
      height: 12.65rem;
      margin-bottom: 40%;
    }
    @include breakpoint.down("sm") {
      width: 21.5em;
      height: 8.67rem;
      margin-bottom: 0;
    }
  }
</style>
