---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Gee | Playground">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Playground</div>
  </div>
  <div class="divider my-0"></div>

  <div class="text-2xl py-3 font-bold">Weekly Favorite Set</div>
  <iframe
    title="Weekly Favorite Set"
    class="track"
    width="100%"
    height="480"
    src="https://youtube.com/embed/jelaEwcewXY?t=1560"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>

  <div class="divider my-0"></div>

  <div class="text-2xl py-3 font-bold">Weekly Favorite Tracks</div>
  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/4HezWpvJSRBZwKitzmOm5l?utm_source=generator"
    width="100%"
    height="352"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="eager"></iframe>

  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/3oy8lj35ZNfg03b6b5jKk5?utm_source=generator&theme=0"
    width="100%"
    height="152"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="eager"></iframe>
    
    <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/6EBr7RwRlXUFFRbUEyXk3g?utm_source=generator&theme=0"
    width="100%"
    height="152"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="eager"></iframe>

  <div class="divider my-0"></div>

  <div class="text-2xl py-3 font-bold">Hard Techno</div>
  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/6RPvIqKqOaxVt9UNGVWZaa?utm_source=generator"
    width="100%"
    height="352"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/3eGE5o9pzEGgIahB4lrqvX?utm_source=generator&theme=0"
    width="100%"
    height="152"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/3aDsVd8PIvpoIscwWcJshb?utm_source=generator&theme=0"
    width="100%"
    height="152"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <div class="divider my-0"></div>

  <div class="text-2xl py-3 font-bold">Acid Techno</div>
  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/5Wh9fhdvsDwJsQWuJkltXb?utm_source=generator"
    width="100%"
    height="352"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/1OFKbYgqjhZABC01KAMJ0n?utm_source=generator&theme=0"
    width="100%"
    height="152"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/3BiEL2MiPGsw6imQiNAHUZ?utm_source=generator&theme=0"
    width="100%"
    height="152"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <div class="divider my-0"></div>

  <div class="text-2xl py-3 font-bold">Psy Trance</div>
  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/1dGGWQStLoXKQYMYENx5Yc?utm_source=generator"
    width="100%"
    height="352"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/6LPQmTty2Vnr2Im63pvmMd?utm_source=generator&theme=0"
    width="100%"
    height="152"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <iframe
    class="track"
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/2ZbtTBYTzxzMHIJwsJceb6?si=2cc06a4f2c1c448a?utm_source=generator&theme=0"
    width="100%"
    height="152"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

  <div class="divider my-0"></div>

  <div class="wrapper-recently-played">
    <iframe
      id="recently-played"
      style="border-radius:12px"
      src="https://spotify-recently-played-readme.vercel.app/api?user=22dcwglm3hf3ocwavusfjj6fi&unique=1&width=850"
      width="100%"
      height="100%"
      title="Recently Played"></iframe>
  </div>
</BaseLayout>

<style lang="scss">
  @use "@unsass/breakpoint";

  .track {
    margin-bottom: 2%;
  }
  .wrapper-recently-played {
    position: relative;
    margin-top: 2%;
    @include breakpoint.up("xl") {
      width: 53.5em;
      height: 21em;
      margin-bottom: 15%;
    }
    @include breakpoint.down("xl") {
      width: 41em;
      height: 16.1em;
      margin-bottom: 34%;
    }
    @include breakpoint.down("lg") {
      width: 40em;
      height: 15.7em;
      margin-bottom: 0;
    }
    @include breakpoint.down("md") {
      width: 32em;
      height: 12.65rem;
      margin-bottom: 40%;
    }
    @include breakpoint.down("sm") {
      width: 21.5em;
      height: 8.67rem;
      margin-bottom: 0;
    }
  }
</style>
