---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Gee | Projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects {"</>"}</div>
  </div>

  <div
    class="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]"
  >
    <a href="https://github.com/GrungeElFz/SvelteKit_Spotify.Clone">
      <div class="hero-content flex-col md:flex-row grow w-full">
        <img
          src="https://github.com/GrungeElFz/SvelteKit_Spotify.Clone/raw/main/static/Banner-SvelteKit_Spotify.Clone.png"
          width={750}
          class="max-w-full rounded-lg"
        />
      </div>
    </a>
  </div>

  <HorizontalCard
    title="Geometric Volume Shifter"
    img="/Banner-Svelte_Geometric.Shifter.png"
    desc="A declarative Three.JS with interactive GUI experience | Built by Svelte • Threlte • Three.JS "
    url="https://github.com/GrungeElFz/Svelte_Geometric.Volume.Shifter/tree/main"
    badge="NEW"
  />

  <HorizontalCard
    title="visionOS • Hello, World"
    img="https://cdn.siasat.com/wp-content/uploads/2023/06/pro.jpg"
    desc="visionOS 1 Beta for Apple Developer"
    url="https://github.com/GrungeElFz/visionOS_Hello.World"
    badge="EXPERIMENT"
  />

  <HorizontalCard
    title="Ethers.JS Authentication"
    img="https://miro.medium.com/v2/resize:fit:960/1*2ZyZEkccLMi_oc_ay7uUgQ.png"
    desc="Web3 User Authentication | Built by SvelteKit • Ethers.JS"
    url="https://github.com/GrungeElFz/SvelteKit_Ethers.JS-Authentication"
    badge="UNDER DEVELOPMENT"
  >
    <!-- <div class="lighthouse-score">
      <ul class="list-disc bullet-dark flex flex-col gap-1 mt-1">
        <li class="badge badge-primary">Performance: 100</li>
        <li class="badge badge-primary">Accessibility: 100</li>
        <li class="badge badge-primary">Best Practices: 100</li>
        <li class="badge badge-primary">SEO: 100</li>
        <li class="badge badge-primary badge-outline">
          Progressive Web App: N/A
        </li>
      </ul>
    </div> -->
  </HorizontalCard>
  <HorizontalCard
    title="Landing Page • 0x01000111 • Astro"
    img="/Banner-0x01000111_Landing.Page.png"
    desc="0x01000111 - Techno Producer • Disc Jockey"
    url="https://0x01000111.io/"
    badge="NEW"
  >
    <div class="lighthouse-score">
      <ul class="list-disc bullet-dark">
        <li class="badge badge-primary">Performance: 100</li>
        <li class="badge badge-primary">Accessibility: 100</li>
        <li class="badge badge-primary">Best Practices: 100</li>
        <li class="badge badge-primary">SEO: 100</li>
      </ul>
    </div>
  </HorizontalCard>
  <HorizontalCard
    title="Spotify Clone • SvelteKit"
    img="/Banner-SvelteKit_Spotify.Clone.png"
    desc="SvelteKit • TypeSctipt • JavaScript • SCSS • HTML • Vite • Spotify Web API"
    url="https://gee-sveltekit-spotify.vercel.app/"
    badge="NEW"
  >
    <div class="lighthouse-score">
      <ul class="list-disc bullet-dark">
        <li class="badge badge-primary badge-outline">Performance: 94</li>
        <li class="badge badge-primary badge-outline">Accessibility: 98</li>
        <li class="badge badge-primary">Best Practices: 100</li>
        <li class="badge badge-primary">SEO: 100</li>
      </ul>
    </div>
  </HorizontalCard>
  <HorizontalCard
    title="Personal Site • Astro"
    img="/Banner-Gee.Personal.Site.png"
    desc="Astro • TypeScript • SCSS • Tailwind • DaisyUI • Markdown • HTML • Vite"
    url="https://github.com/GrungeElFz/Astro_Personal.Site"
  >
    <div class="lighthouse-score">
      <ul class="list-disc bullet-dark">
        <li class="badge badge-primary">Performance: 100</li>
        <li class="badge badge-primary badge-outline">Accessibility: 91</li>
        <li class="badge badge-primary badge-outline">Best Practices: 92</li>
        <li class="badge badge-primary">SEO: 100</li>
      </ul>
    </div>
  </HorizontalCard>
</BaseLayout>
