---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    Gee | Grunge Opaline Delviora
  </div>
  <div class="inline opacity-75">
    Open-Source Template, developed by <a href="https://github.com/manuelernestog/astrofy" target="_blank" class="font-bold">Astrofy</a>
  </div>
</footer>
